#container {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#table {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.square {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border: 2px solid #000;
}